{% extends 'base.html.twig' %}

{% block title %}Créer un restaurant{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4 fw-bold text-center">Créer un restaurant</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_widget(form) }}
                        </div>
                        <button class="btn btn-dark mt-3">Créer un restaurant</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
